<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="register.css">
</head>
<body>
    <div class="container">
        <H2>Registeration Form</H2>
        <form action="/register", method="post">
            <input type="text" name="username" placeholder="Enter the username">
            <input type="email" name="email" placeholder="Enter the email">
            <input type="password" name="password" placeholder="Enter the password">
            <button>Register</button>
        </form>
    </div>
</body>
</html>